//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10 (64-bit)
//Part Number: GW2A-LV18EQ144C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Wed 08 14 15:38:49 2024

IO_LOC "ad2_oe" 113;
IO_PORT "ad2_oe" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ad2_clk" 114;
IO_PORT "ad2_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ad1_oe" 128;
IO_PORT "ad1_oe" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ad1_clk" 129;
IO_PORT "ad1_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led1" 112;
IO_PORT "led1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led2" 111;
IO_PORT "led2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led3" 110;
IO_PORT "led3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[15]" 63;
IO_PORT "data_stm32[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[14]" 62;
IO_PORT "data_stm32[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[13]" 61;
IO_PORT "data_stm32[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[12]" 60;
IO_PORT "data_stm32[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[11]" 59;
IO_PORT "data_stm32[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[10]" 58;
IO_PORT "data_stm32[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[9]" 57;
IO_PORT "data_stm32[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[8]" 56;
IO_PORT "data_stm32[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[7]" 54;
IO_PORT "data_stm32[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[6]" 52;
IO_PORT "data_stm32[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[5]" 51;
IO_PORT "data_stm32[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[4]" 50;
IO_PORT "data_stm32[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[3]" 49;
IO_PORT "data_stm32[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[2]" 48;
IO_PORT "data_stm32[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[1]" 47;
IO_PORT "data_stm32[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_stm32[0]" 46;
IO_PORT "data_stm32[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "I_PHASE" 33;
IO_PORT "I_PHASE" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "V_PHASE" 32;
IO_PORT "V_PHASE" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[11]" 115;
IO_PORT "adc_in_i[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[10]" 116;
IO_PORT "adc_in_i[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[9]" 117;
IO_PORT "adc_in_i[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[8]" 118;
IO_PORT "adc_in_i[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[7]" 119;
IO_PORT "adc_in_i[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[6]" 120;
IO_PORT "adc_in_i[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[5]" 121;
IO_PORT "adc_in_i[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[4]" 122;
IO_PORT "adc_in_i[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[3]" 123;
IO_PORT "adc_in_i[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[2]" 124;
IO_PORT "adc_in_i[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[1]" 125;
IO_PORT "adc_in_i[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_i[0]" 126;
IO_PORT "adc_in_i[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[11]" 130;
IO_PORT "adc_in_v[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[10]" 131;
IO_PORT "adc_in_v[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[9]" 132;
IO_PORT "adc_in_v[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[8]" 133;
IO_PORT "adc_in_v[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[7]" 134;
IO_PORT "adc_in_v[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[6]" 135;
IO_PORT "adc_in_v[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[5]" 136;
IO_PORT "adc_in_v[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[4]" 137;
IO_PORT "adc_in_v[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[3]" 138;
IO_PORT "adc_in_v[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[2]" 139;
IO_PORT "adc_in_v[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[1]" 140;
IO_PORT "adc_in_v[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_in_v[0]" 141;
IO_PORT "adc_in_v[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "addr_stm32[7]" 45;
IO_PORT "addr_stm32[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "addr_stm32[6]" 44;
IO_PORT "addr_stm32[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "addr_stm32[5]" 43;
IO_PORT "addr_stm32[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "addr_stm32[4]" 42;
IO_PORT "addr_stm32[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "addr_stm32[3]" 41;
IO_PORT "addr_stm32[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "addr_stm32[2]" 40;
IO_PORT "addr_stm32[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "addr_stm32[1]" 39;
IO_PORT "addr_stm32[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "addr_stm32[0]" 38;
IO_PORT "addr_stm32[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "R_32" 66;
IO_PORT "R_32" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "W_32" 65;
IO_PORT "W_32" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CS32" 64;
IO_PORT "CS32" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "RST" 7;
IO_PORT "RST" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "FPGA_CLK" 6;
IO_PORT "FPGA_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PG9" 69;
IO_PORT "PG9" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PG12" 70;
IO_PORT "PG12" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PD7" 68;
IO_PORT "PD7" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
